@import url("normalize.css");

nav h1{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
}

/* logo */
@media (max-width:460px){
	.header_area img{
		max-width: 70px;
	}
}
@media (max-width:430px){
	.header_area img{
		max-width: 55px;
  }
/*  .header_area h1{
    font-size: 18px;
  }*/
}

/* Calendar */
#fullDiv {

  margin: 0;
  padding: 0;
  left: -300px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ul-c {
  margin: 0;
  padding: 0;
}

.li-c {
  float: left;
  display: block;
  width: 14.2857%;
  text-align: center;
  list-style-type: none;
}

.li-c:nth-child(n+1):nth-child(-n+7) {
  font-weight: 900;
  color: #e67e22;
}

.li-c:nth-child(n+39), .li-c:nth-child(n+8):nth-child(-n+16) {
  font-weight: 900;
  color: rgba(0,0,0,.3);
}

.li-c:hover:nth-child(n+8):nth-child(-n+38), .li-c:nth-child(17){
  border-radius: 5px;
  background-color: #1abc9c;
  color: #ecf0f1;
}

/*  */
.blog_left_sidebar{
  margin: 0;
  padding: 5px 20px 0px 20px;  
}

/* anchor adjust */
.assist-div {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -100px;
  left: 0;
}

/* print styles */
@media print{
  body {
      color: #000000;
  }

  a[href^="http"]:after{
  content:", URL: (" attr(href) ")";		
}
  
nav, footer{
  display:none;
}

  h1, h2{
  page-break-after:avoid;
  }

}