/*
    Author: Chiao yu Liang
    Student Number: a01040431
    Date: 2019.03.10
*/
/* load reset rules first */
@import url("normalize.css");
/*  
define your color palette as SASS varaibles... 
makes it easy to change the entire page's color palette
44678f
white 
100%
*/
/* html body */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.jumbotron {
  background-image: url("../images/template/pic1.png");
  background-repeat: repeat-y;
  background-size: 100%;
  background-attachment: fixed;
  background-position: bottom;
}

.container {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
}

h1 {
  color: white;
  text-shadow:  5px 3px #44678f;
}

.jumbotron p {
  color: white;
  text-shadow:  5px 3px #44678f;
}
